#Media Path host level
MEDIA_PATH=<mnt/Youtube>
WEBUI_PORT=3050
MAX_CONCURRENT_DOWNLOADS=2
# Host user UID/GID so downloaded files are owned by you, not root

PUID=1000
PGID=1000

#Jellyfin config
JELLYFIN_URL=http://192.xxx:8096
JELLYFIN_API_KEY=<API-Key-Here>
JELLYFIN_MEDIA_PATH=<mnt/Media-Share>
